name: '1.0$(Rev:.r)'
trigger:
- master

variables:
  buildAgentVmImage: 'windows-latest'
  serviceConnection: 'niobium-ntfy'
  resourceGroupName: 'niobium-ntfy'
  appName: 'niobiumntfyFunc'
  tableDB: 'niobiumntfydb'
  tableDBStaging: 'niobiumntfydbstaging'
  serviceBusNamespace: 'niobiumntfysb'
  serviceBusNamespaceStaging: 'niobiumntfysbstaging'
  subscribeCommandQueueName: 'subscribecommand'
  notifyCommandQueueName: 'notifycommand'
  subscribedEventQueueName: 'subscribedevent'
  enableStagingSlot: true
  
pool:
  vmImage: $(buildAgentVmImage)

resources: 
  repositories:
  - repository: devops
    endpoint: CodRepo
    type: git
    name: cod/Cod.Infrastructures
    ref: master

stages:
- stage: Production
  jobs:
  - template: pipelines/jobs/GenericDotnetBuild.yml@devops
    parameters:
      nugetVSTSFeedID: 'Niobium/niobium'
      projectToPublish: '**/Niobium.Notification.Functions.csproj'

  - template: pipelines/jobs/FunctionAppInfrastructure.yml@devops
    parameters:
      azureServiceConnection: $(serviceConnection)
      resourceGroupName: $(resourceGroupName)
      appName: $(appName)
      enableKeyVault: true
      enableStagingSlot: ${{ variables.enableStagingSlot }}
      allowedOrigins: '*'
      checkoutDevopsStep:
        checkout: devops

  - job: StorageAccount
    dependsOn: 
      - Infrastructure
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      functionAppPrincipalId: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalId']]
      functionAppPrincipalIdStaging: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalIdStaging']]
    steps:
    - checkout: devops  
    - template: pipelines/steps/newStorageAccount.yml@devops
      parameters:
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(serviceConnection)
        storageAccountName: $(tableDB)
        contributorPrincipalId: $(functionAppPrincipalId)
    - template: pipelines/steps/newStorageAccount.yml@devops
      condition: and(succeeded(), eq('${{ variables.enableStagingSlot }}', true))
      parameters:
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(serviceConnection)
        storageAccountName: $(tableDBStaging)
        contributorPrincipalId: $(functionAppPrincipalIdStaging)
        
  - job: Messaging
    dependsOn: 
      - Infrastructure
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      functionAppPrincipalId: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalId']]
      functionAppPrincipalIdStaging: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalIdStaging']]
    steps:
    - checkout: devops
    - template: pipelines/steps/newServiceBus.yml@devops
      parameters:
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(resourceGroupName)
        serviceBusNamespaceName: $(serviceBusNamespace)
        serviceBusQueueNames: [$(subscribeCommandQueueName), $(subscribedEventQueueName), $(notifyCommandQueueName)]
        dataOwnerPrincipalId: $(functionAppPrincipalId)
    - template: pipelines/steps/newServiceBus.yml@devops
      parameters:
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(resourceGroupName)
        serviceBusNamespaceName: $(serviceBusNamespaceStaging)
        serviceBusQueueNames: [$(subscribeCommandQueueName), $(subscribedEventQueueName), $(notifyCommandQueueName)]
        dataOwnerPrincipalId: $(functionAppPrincipalIdStaging)

  - job: Configuration
    dependsOn:
      - Infrastructure
      - StorageAccount
      - Messaging
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      databaseFQDN: $[dependencies.StorageAccount.outputs['newStorageAccountProperties.tableFQDN']]
      blobFQDN: $[dependencies.StorageAccount.outputs['newStorageAccountProperties.blobFQDN']]
      keyVaultUrl: $[dependencies.Infrastructure.outputs['infrastructureOutputs.keyVaultUrl']]
      serviceBusFQDN: $[dependencies.Messaging.outputs['newServiceBusProperties.fullyQualifiedNamespace']]
    steps:
    - checkout: none
    - pwsh: Write-Output "##vso[task.setvariable variable=slotName;]production"
      displayName: "Deploy to Production"
      condition: eq('${{ variables.enableStagingSlot }}', false)
    - pwsh: Write-Output "##vso[task.setvariable variable=slotName;]staging"
      displayName: "Deploy to Staging"
      condition: eq('${{ variables.enableStagingSlot }}', true)
    - task: AzureAppServiceSettings@1
      displayName: 'Update AppSettings'
      inputs:
        azureSubscription: $(serviceConnection)
        appName: $(appName)
        resourceGroupName: $(resourceGroupName)
        appSettings: |
          [
            {
              "name": "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED",
              "value": "1",
              "slotSetting": false
            },
            {
              "name": "ServiceBusOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDN)",
              "slotSetting": false
            },
            {
              "name": "ServiceBusTriggerOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDN)",
              "slotSetting": false
            },
            {
              "name": "StorageTableOptions:FullyQualifiedDomainName",
              "value": "$(databaseFQDN)",
              "slotSetting": false
            },
            {
              "name": "StorageBlobOptions:FullyQualifiedDomainName",
              "value": "$(blobFQDN)",
              "slotSetting": false
            },
            {
                "name": "NotificationOptions:SelfHostName",
                "value": "niobiumntfyfunc.azurewebsites.net",
                "slotSetting": false
            },
            {
                "name": "NotificationOptions:TemplateFolder",
                "value": "templates",
                "slotSetting": false
            },
            {
                "name": "CaptchaOptions:Secrets:www.edennoodleshamilton.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-EDENNOODLESHAMILTON-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.edennoodlesbar.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-EDENNOODLESBAR-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.joychicbar.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-JOYCHICBAR-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "ResendServiceOptions:DomainScopedAPIKeys:xxx.co.nz",
                "value": "test123)",
                "slotSetting": true
            },
            {
                "name": "ResendServiceOptions:GlobalAPIKey",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RESEND-API-KEY/)",
                "slotSetting": true
            }
          ]
    - task: AzureAppServiceSettings@1
      displayName: 'Update AppSettings'
      inputs:
        azureSubscription: $(serviceConnection)
        appName: $(appName)
        slotName: $(slotName)
        resourceGroupName: $(resourceGroupName)
        appSettings: |
          [
            {
              "name": "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED",
              "value": "1",
              "slotSetting": false
            },
            {
              "name": "ServiceBusOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDN)",
              "slotSetting": false
            },
            {
              "name": "ServiceBusTriggerOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDN)",
              "slotSetting": false
            },
            {
              "name": "StorageTableOptions:FullyQualifiedDomainName",
              "value": "$(databaseFQDN)",
              "slotSetting": false
            },
            {
              "name": "StorageBlobOptions:FullyQualifiedDomainName",
              "value": "$(blobFQDN)",
              "slotSetting": false
            },
            {
                "name": "NotificationOptions:SelfHostName",
                "value": "niobiumntfyfunc.azurewebsites.net",
                "slotSetting": false
            },
            {
                "name": "NotificationOptions:TemplateFolder",
                "value": "templates",
                "slotSetting": false
            },
            {
              "name": "ResendServiceOptions:GlobalAPIKey",
              "value": "012345678901234567890123456789AB",
              "slotSetting": true
            },
            {
              "name": "CaptchaOptions:IsDisabled",
              "value": "true",
              "slotSetting": true
            },
            {
              "name": "AzureWebJobs.SubscribedEventConsumer.Disabled",
              "value": "true",
              "slotSetting": true
            },
            {
              "name": "AzureWebJobs.SubscribeCommandConsumer.Disabled",
              "value": "true",
              "slotSetting": true
            },
            {
              "name": "AzureWebJobs.NotifyCommandConsumer.Disabled",
              "value": "true",
              "slotSetting": true
            }
          ]

  - template: pipelines/jobs/FunctionAppDeploy.yml@devops
    parameters:
      appName: $(appName)
      serviceConnection: $(serviceConnection)
      resourceGroupName: $(resourceGroupName)
      enableStagingSlot: ${{ variables.enableStagingSlot }}
      autoSwapSlots: true