name: '1.0$(Rev:.r)'
trigger:
- master

variables:
  buildAgentVmImage: 'windows-latest'
  serviceConnection: 'niobium-emailnotification'

pool:
  vmImage: $(buildAgentVmImage)

resources: 
  repositories:
  - repository: devops
    endpoint: CodRepo
    type: git
    name: cod/Cod.Infrastructures
    ref: master

stages:
- stage: Production
  jobs:
  - template: pipelines/jobs/GenericDotnetBuild.yml@devops
    parameters:
      projectToPublish: '**/Niobium.EmailNotification.csproj'

  - template: pipelines/jobs/FunctionAppInfrastructure.yml@devops
    parameters:
      azureServiceConnection: $(serviceConnection)
      resourceGroupName: $(serviceConnection)
      appNamePrefix: 'NiobiumNotify'
      enableKeyVault: true
      enableStagingSlot: true
      allowedOrigins: '*'
      checkoutDevopsStep:
        checkout: devops
        
  - job: Configuration
    dependsOn:
      - Infrastructure
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      functionAppName: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppName']]
      keyVaultUrl: $[dependencies.Infrastructure.outputs['infrastructureOutputs.keyVaultUrl']]
      storageAccountConnectionString: $[dependencies.Infrastructure.outputs['infrastructureOutputs.storageAccountConnectionString']]
    steps:
    - checkout: none
    - task: AzureAppServiceSettings@1
      displayName: 'Update AppSettings'
      inputs:
        azureSubscription: $(serviceConnection)
        appName: $(functionAppName)
        resourceGroupName: $(serviceConnection)
        slotName: 'staging'
        appSettings: |
          [
            {
              "name": "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED",
              "value": "1",
              "slotSetting": false
            },
            {
                "name": "ResendServiceOptions:APIKey",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RESEND-API-KEY/)",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:From",
                "value": "noreply@niobium.co.nz",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:Subject",
                "value": "New customer message",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:Template",
                "value": "From {{NAME}} ({{CONTACT}}): {{MESSAGE}}",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:Recipients:www.edennoodlesbar.co.nz",
                "value": "yannkeynes@hotmail.com",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:Secrets:www.edennoodlesbar.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-EDENNOODLESBAR-CO-NZ/)",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:Recipients:www.joychicbar.co.nz",
                "value": "yannkeynes@hotmail.com",
                "slotSetting": false
            },
            {
                "name": "EmailNotificationOptions:Secrets:www.joychicbar.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-JOYCHICBAR-CO-NZ/)",
                "slotSetting": false
            }
          ]

  - template: pipelines/jobs/FunctionAppDeploy.yml@devops
    parameters:
      serviceConnection: $(serviceConnection)
      resourceGroupName: $(serviceConnection)
      enableStagingSlot: true
        
  - job: GoLive
    dependsOn:
      - Infrastructure
      - Configuration
      - Deploy
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      functionAppName: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppName']]
    steps:
    - checkout: none
    - task: AzureAppServiceManage@0
      displayName: 'Update AppSettings'
      inputs:
        azureSubscription: $(serviceConnection)
        ResourceGroupName: $(serviceConnection)
        WebAppName: $(functionAppName)
        Action: 'Swap Slots'
        SourceSlot: 'staging'
        SwapWithProduction: true 