name: '1.0$(Rev:.r)'
trigger:
- master

variables:
  buildAgentVmImage: 'windows-latest'
  serviceConnection: 'niobium-emailnotification'
  resourceGroupName: 'niobium-ntfy'
  appName: 'niobiumntfyFunc'
  assetsPageName: 'assets-notification-niobium-co-nz'
  tableDB: 'niobiumntfydb'
  tableDBStaging: 'niobiumntfydbstaging'
  serviceBusNamespace: 'niobiumntfysb'
  serviceBusNamespaceStaging: 'niobiumntfysbstaging'
  subscribeCommandQueueName: 'subscribecommand'
  notifyCommandQueueName: 'notifycommand'
  subscribedEventQueueName: 'subscribedevent'
  enableStagingSlot: true
  
pool:
  vmImage: $(buildAgentVmImage)

resources: 
  repositories:
  - repository: devops
    endpoint: CodRepo
    type: git
    name: cod/Cod.Infrastructures
    ref: master

stages:
- stage: Production
  jobs:
  - template: pipelines/jobs/GenericDotnetBuild.yml@devops
    parameters:
      nugetVSTSFeedID: 'Niobium/niobium'
      projectToPublish: '**/Niobium.Notification.Functions.csproj'

  - template: pipelines/jobs/FunctionAppInfrastructure.yml@devops
    parameters:
      azureServiceConnection: $(serviceConnection)
      resourceGroupName: $(resourceGroupName)
      appName: $(appName)
      enableKeyVault: true
      enableStagingSlot: ${{ variables.enableStagingSlot }}
      allowedOrigins: '*'
      checkoutDevopsStep:
        checkout: devops

  - job: StorageAccount
    dependsOn: 
      - Infrastructure
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      functionAppPrincipalId: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalId']]
      functionAppPrincipalIdStaging: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalIdStaging']]
    steps:
    - checkout: devops  
    - template: pipelines/steps/newStorageAccount.yml@devops
      parameters:
        sku: 'Standard_LRS'
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(resourceGroupName)
        storageAccountName: $(tableDB)
        contributorPrincipalId: $(functionAppPrincipalId)
        outputVariableName: 'newStorageAccountProperties'
    - template: pipelines/steps/newStorageAccount.yml@devops
      parameters:
        switch: ${{ variables.enableStagingSlot }}
        sku: 'Standard_LRS'
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(resourceGroupName)
        storageAccountName: $(tableDBStaging)
        contributorPrincipalId: $(functionAppPrincipalIdStaging)
        outputVariableName: 'newStorageAccountPropertiesStaging'
        
  - job: Messaging
    dependsOn: 
      - Infrastructure
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      functionAppPrincipalId: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalId']]
      functionAppPrincipalIdStaging: $[dependencies.Infrastructure.outputs['infrastructureOutputs.functionAppPrincipalIdStaging']]
    steps:
    - checkout: devops
    - template: pipelines/steps/newServiceBus.yml@devops
      parameters:
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(resourceGroupName)
        serviceBusNamespaceName: $(serviceBusNamespace)
        serviceBusQueueNames: [$(subscribeCommandQueueName), $(subscribedEventQueueName), $(notifyCommandQueueName)]
        dataOwnerPrincipalId: $(functionAppPrincipalId)
        outputVariableName: 'newServiceBusProperties'
    - template: pipelines/steps/newServiceBus.yml@devops
      parameters:
        switch: ${{ variables.enableStagingSlot }}
        azureServiceConnection: $(serviceConnection)
        resourceGroupName: $(resourceGroupName)
        serviceBusNamespaceName: $(serviceBusNamespaceStaging)
        serviceBusQueueNames: [$(subscribeCommandQueueName), $(subscribedEventQueueName), $(notifyCommandQueueName)]
        dataOwnerPrincipalId: $(functionAppPrincipalIdStaging)
        outputVariableName: 'newServiceBusPropertiesStaging'

  - job: Configuration
    dependsOn:
      - Infrastructure
      - StorageAccount
      - Messaging
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      keyVaultUrl: $[dependencies.Infrastructure.outputs['infrastructureOutputs.keyVaultUrl']]
      databaseFQDN: $[dependencies.StorageAccount.outputs['newStorageAccountProperties.tableFQDN']]
      blobFQDN: $[dependencies.StorageAccount.outputs['newStorageAccountProperties.blobFQDN']]
      serviceBusFQDN: $[dependencies.Messaging.outputs['newServiceBusProperties.fullyQualifiedNamespace']]
      databaseFQDNStaging: $[dependencies.StorageAccount.outputs['newStorageAccountPropertiesStaging.tableFQDN']]
      blobFQDNStaging: $[dependencies.StorageAccount.outputs['newStorageAccountPropertiesStaging.blobFQDN']]
      serviceBusFQDNStaging: $[dependencies.Messaging.outputs['newServiceBusPropertiesStaging.fullyQualifiedNamespace']]
    steps:
    - checkout: none
    - pwsh: Write-Output "##vso[task.setvariable variable=slotName;]production"
      displayName: "Deploy to Production"
      condition: eq('${{ variables.enableStagingSlot }}', false)
    - pwsh: Write-Output "##vso[task.setvariable variable=slotName;]staging"
      displayName: "Deploy to Staging"
      condition: eq('${{ variables.enableStagingSlot }}', true)
    - task: AzureAppServiceSettings@1
      displayName: 'Update AppSettings'
      inputs:
        azureSubscription: $(serviceConnection)
        appName: $(appName)
        resourceGroupName: $(resourceGroupName)
        appSettings: |
          [
            {
              "name": "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED",
              "value": "1",
              "slotSetting": false
            },
            {
                "name": "NotificationOptions:TemplateFolder",
                "value": "templates",
                "slotSetting": false
            },
            {
                "name": "ResendServiceOptions:DomainScopedAPIKeys:tapss.care",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RESEND-API-KEY-TAPSS-CARE/)",
                "slotSetting": false
            },
            {
                "name": "ResendServiceOptions:GlobalAPIKey",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RESEND-API-KEY/)",
                "slotSetting": false
            },
            {
              "name": "ServiceBusOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDN)",
              "slotSetting": true
            },
            {
              "name": "ServiceBusTriggerOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDN)",
              "slotSetting": true
            },
            {
              "name": "StorageTableOptions:FullyQualifiedDomainName",
              "value": "$(databaseFQDN)",
              "slotSetting": true
            },
            {
              "name": "StorageBlobOptions:FullyQualifiedDomainName",
              "value": "$(blobFQDN)",
              "slotSetting": true
            },
            {
                "name": "NotificationOptions:SelfHostName",
                "value": "api.notification.niobium.co.nz",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.edennoodleshamilton.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-EDENNOODLESHAMILTON-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.edennoodlesbar.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-EDENNOODLESBAR-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.niobium.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-NIOBIUM-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.zaps.co.nz",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-ZAPS-CO-NZ/)",
                "slotSetting": true
            },
            {
                "name": "CaptchaOptions:Secrets:www.tapss.care",
                "value": "@Microsoft.KeyVault(SecretUri=$(keyVaultUrl)/secrets/RECAPTCHA-WWW-TAPSS-CARE/)",
                "slotSetting": true
            }
          ]
    - task: AzureAppServiceSettings@1
      displayName: 'Update AppSettings'
      inputs:
        azureSubscription: $(serviceConnection)
        appName: $(appName)
        slotName: $(slotName)
        resourceGroupName: $(resourceGroupName)
        appSettings: |
          [
            {
              "name": "WEBSITE_USE_PLACEHOLDER_DOTNETISOLATED",
              "value": "1",
              "slotSetting": false
            },
            {
                "name": "NotificationOptions:TemplateFolder",
                "value": "templates",
                "slotSetting": false
            },
            {
              "name": "ServiceBusOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDNStaging)",
              "slotSetting": true
            },
            {
              "name": "ServiceBusTriggerOptions:FullyQualifiedNamespace",
              "value": "$(serviceBusFQDNStaging)",
              "slotSetting": true
            },
            {
              "name": "StorageTableOptions:FullyQualifiedDomainName",
              "value": "$(databaseFQDNStaging)",
              "slotSetting": true
            },
            {
              "name": "StorageBlobOptions:FullyQualifiedDomainName",
              "value": "$(blobFQDNStaging)",
              "slotSetting": true
            },
            {
                "name": "NotificationOptions:SelfHostName",
                "value": "staging.api.notification.niobium.co.nz",
                "slotSetting": true
            },
            {
              "name": "CaptchaOptions:IsDisabled",
              "value": "true",
              "slotSetting": true
            }
          ]

  - template: pipelines/jobs/FunctionAppDeploy.yml@devops
    parameters:
      appName: $(appName)
      serviceConnection: $(serviceConnection)
      resourceGroupName: $(resourceGroupName)
      enableStagingSlot: ${{ variables.enableStagingSlot }}
      autoSwapSlots: false

  - job: Testing
    dependsOn: 
      - Deploy
    condition: succeeded()
    pool:
      vmImage: $(buildAgentVmImage)
    variables:
      API_URL: 'https://staging.api.notification.niobium.co.nz'
    steps:
    - task: Npm@1
      inputs:
        command: 'install'
        workingDir: '$(System.DefaultWorkingDirectory)/Niobium.Notification.IntegrationTests'
      displayName: 'npm install'
    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'test'
        workingDir: '$(System.DefaultWorkingDirectory)/Niobium.Notification.IntegrationTests'
      displayName: 'npm test'

  - job: Swap
    dependsOn: 
      - Testing
    condition: and(succeeded(), eq('${{ variables.enableStagingSlot }}', true))
    steps:
    - task: AzureAppServiceManage@0
      displayName: 'Swap Production'
      inputs:
        azureSubscription: $(serviceConnection)
        ResourceGroupName: $(resourceGroupName)
        Action: 'Swap Slots'
        WebAppName: $(appName)
        SourceSlot: 'staging'
        SwapWithProduction: false

  - template: pipelines/jobs/AssetsDeploy.yml@devops
    parameters:
      cloudflarePagesProjectName: $(assetsPageName)
      cloudflareAccountID: $(cloudflareAccountID)
      cloudflareAPIToken: $(cloudflareAPIToken)
